{:deps {:aliases [:dev]}
 :dev-http {8888 "dev-resources/public"}
 :builds {:dev {:target :browser
                :devtools {:repl-pprint true}
                :output-dir "dev-resources/public/assets/app/build/js"
                :asset-path "dev-resources/assets/app/js"
                :modules {:main {:entries [fizz.element]}}}}}
